h3{
    background: #F5F5F5;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 17px !important;
    text-transform: uppercase;
    border: 1px solid rgba(221, 221, 221, 0.86);
    margin-top: 35px !important;
}

h1{
    color: #337ab7;
}


.rows .row {
    margin-bottom: 20px;
}

.haut{
    margin-top: 25px;
}

.titre_client{
    font-weight: bold;
}

.droite{
    float: right;
}
.option {
    padding:6px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f5f5f5;
}

.client {
    padding:10px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f5f5f5;
}

.hidden{
    display:none;
}

p{
    padding:6px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #D8D8D8;
}
.btn-info.add-option {
    margin-top: 25px;
}
.btn.btn-info.option_nouvelle {
    visibility:hidden;
}
.form-options:hover .option_nouvelle.btn.btn-info{
    visibility:visible;
}

.contenu
{
    background: rgba(255, 255, 255, 0.29);
    height: 500px;
    width: 800px;
    max-width: 95%;

}

.fa.fa-times-circle {
    visibility:hidden;
}
.form-delete:hover .fa.fa-times-circle{
    visibility:visible;
}

.suppCat{
    background: #F5F5F5;
    border: 0;
}
.suppOp{
    border: 0;
    background: #FFFFFF;
}

.fa.fa-pencil {
    visibility:hidden;
}
.form-delete:hover .fa.fa-pencil {
    visibility:visible;
}

.modifCat{
    background: #F5F5F5;
    border: 0;
}

.modifOpt{
    background: #F5F5F5;
    border: 0;
}

.fa-times-circle{
    color:#FF0000;
}


.btn.btn-success.pull-right{
    visibility:hidden;
}

.picker-switch.accordion-toggle{
    display:none;
}