h3{
    background: #F5F5F5;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 17px !important;
    text-transform: uppercase;
    border: 1px solid rgba(221, 221, 221, 0.86);
    margin-top: 35px !important;
}

/*
html {
    overflow-y: hidden;
    overflow-x: hidden;
}
*/
h1{
    color: #337ab7;
}


.rows .row {
    margin-bottom: 20px;
}

.haut{
    margin-top: 25px;
}

.titre_client{
    font-weight: bold;
}

.droite{
    float: right;
}
.option {
    padding:6px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f5f5f5;
}

.client {
    padding:10px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f5f5f5;
}

.hidden{
    display:none;
}

p{
    padding:6px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #D8D8D8;
}
.btn-info.add-option {
    margin-top: 25px;
    margin-left: 20px;
}
.btn.btn-info.option_nouvelle {
    visibility:hidden;
}
.form-options:hover .option_nouvelle.btn.btn-info{
    visibility:visible;
}

.contenu
{
    background: rgba(255, 255, 255, 0.29);
    height: 500px;
    width: 800px;
    max-width: 95%;

}

.fa.fa-times-circle {
    visibility:hidden;
}
.form-delete:hover .fa.fa-times-circle{
    visibility:visible;
}

.suppCat{
    background: #F5F5F5;
    border: 0;
}
.suppOp{
    border: 0;
    background: #FFFFFF;
}

.fa.fa-pencil {
    visibility:hidden;
}
.form-delete:hover .fa.fa-pencil {
    visibility:visible;
}

.modifCat{
    background: #F5F5F5;
    border: 0;
}

.modifOpt{
    background: #F5F5F5;
    border: 0;
}

.fa-times-circle{
    color:#FF0000;
}

.fa.fa-pencil-square-o{
    color: #000000;;
}

.btn.btn-success.pull-right{
    visibility:hidden;
}

.picker-switch.accordion-toggle{
    display:none;
}

.owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 30px;
    background: rgba(19, 19, 19, 0.34);
    padding: 20px 14px 15px 20px;
    line-height: 9px;
    color: #FFFFFF;
}
.owl-next {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 30px;
    background: rgba(19, 19, 19, 0.34);
    padding: 20px 14px 15px 20px;
    line-height: 9px;
    color: #FFFFFF;
}
.owl-carousel img {
    width: 100%;
}



.banner:before {
    content: '';
    position: absolute;
    top: 0px;
    background: rgba(52, 131, 138, 0.5);
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}

.banner {
    background: url("../img/audi_banner.jpg") no-repeat ;
    background-position: center;
    background-size: 100% auto;
    position: relative;
    padding-top: 60px;
    height: 150px;
    color: white;
}

.haut {
    margin-top: 40px;
}

.save_all_customers{
    margin-top: 15px;
}

.save_all_quotations{
    margin-top: 15px;
}

.milieu{
    text-align: center;
}

#listhours{
    position:relative;
}

.bloc{
    padding-top: 100px;
    text-align: center;
    cursor:not-allowed;
    position:absolute;
    z-index:999;
    height: 100%;
    width: 100%;
    left:0;
    top:0;
    bottom:0;
    right:0;
    content:'';
    background-color: rgba(255, 255, 255, 0.82);
    border-radius: 20px;
    border: 1px solid #ddd;
}
.chooseDate h1{
    text-align: center;
    color: #ffffff;
    position:absolute;
    z-index:1000;
    left:100px;
    top:150px;
}


.notif_all{
    top: -7px;
    left: 58%;
    padding: 3px 5px;
    border-radius: 30px;
    line-height: 16px;
    text-align: center;
    font-size: 10px;
    border-width: 2px;
    border-style: solid;
    color: #fff;
    background: #E60404 !important;
    border-color: #222;
}

.notif_d,.notif_c{
    top: -7px;
    left: 58%;
    padding: 3px 5px;
    border-radius: 30px;
    line-height: 16px;
    text-align: center;
    font-size: 10px;
    border-width: 2px;
    border-style: solid;
    color: #fff;
    background: #E60404 !important;
    border-color: #E60404;
}
.clicked {
    background: rgba(92, 184, 92, 0.87);
    color: #fff !important;
}
.owl-item .item{
    padding:5px;
}

.bg_error{
    background: url("../img/audi_banner.jpg") no-repeat ;
    background-position: center;
    background-size: 100% auto;
}

.access_denied{
    text-align: center;
    color: #ffffff;
    margin-top: 75px;
    font-size: 35px;
}

.no_permission{
    text-align: center;
    color: #ffffff;
    margin-top: 400px;
    font-size: 35px;
}

/* ---------- CSS FRONT OFFICE ------------- */
